*{
    padding: 0;
    margin: 0;
}
 .container{
     width: 90%;
     margin: 0 auto;

 }
a {
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
    transition:.5s;
}

body{
    font-family: 'Poppins', sans-serif;
    transition:.3s;
}

.dark{
    background: #1F2E35;
    transition:.3s;
}
/*header start*/
#header{
    padding: 25px 0;
    -webkit-box-shadow: 0 5px 5px -5px rgba(18, 32, 43, 0.2);
    -moz-box-shadow: 0 5px 5px -5px rgba(18, 32, 43, 0.2);
    box-shadow: 0 5px 5px -5px rgba(18, 32, 43, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.dark #header{
-webkit-box-shadow: 0 5px 5px -5px rgba(245, 245, 245, 0.2);
-moz-box-shadow: 0 5px 5px -5px rgba(245, 245, 245, 0.2);
box-shadow: 0 5px 5px -5px rgba(245, 245, 245, 0.2);
}




.header-logo h1{
    color: #173A56;
    font-size: 30px;
    font-weight: 700;
    padding-left: 16px;
}

.header-logo{
    display: flex;
    align-items: center;

}
.dark .header-logo h1{
    color: white;
}


.header-nav a{
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
    padding: 0 10px;
}
.dark .header-nav a{
    color: white;
}


.header-nav a:hover{
    color: royalblue;
    text-decoration-line: underline;
}

.btn-one,
.btn-two{
    color: #173A56;
    padding: 15px 25px;
    border: 2px solid #BCD0E5;
    background: transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
}

.dark .btn-one{
    color: white;
}

 .btn-two{
      background:#02897A;
     color: white;
 }


.btn-three {
    background:#F3F3F3;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02897A;
    font-size: 22px;
}
.dark-white{
    transition: .3s;
    display: block;
    animation: dark 1s alternate linear;

}

.dark-black{
    display: none;
}


.dark .dark-black{
    display: block;
    animation: dark 1s alternate linear;
}

.dark .dark-white{
    display: none;

}

@keyframes dark {
    0%{
        rotate: 350deg;
        scale: 0.5;
    }
}

.header-nav{
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*header end*/
/*work start*/

#work{
    padding: 50px 0;
}

.work{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark .work-text h1,
.dark .work-text p,
.dark .work-btn{
    color: white;
}


.work-text h1{
    width: 518px;
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
}

.work-text p{
    color: #22343D;
    font-size: 18px;
    font-weight: 400;
    width: 458px;
    padding: 18px 0 45px 0;
}
.work-btn{
    display: flex;
    align-items: center;
}
.work-btn button{
    border-radius: 4px;
    background: #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
}


.work-btn a{
    display: flex;
    align-items: center;
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
    padding-left: 30px;
}
.work-btn ion-icon{
    font-size: 23px;
    padding-right: 10px;
}


/*work end*/

/*product start*/
#product{
    background: url("../img/proudct-bg.png")no-repeat center/cover;
}
.product h1{
    width: 500px;
    color: #22343D;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
    padding-bottom: 66px;
}
.dark .product h1{
    color: white;
}

.product-block h3{
    color: #22343D;
    font-size: 22px;
    font-weight: 600;
    padding: 30px 0 16px 0;
}
.product-block p{
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    width: 240px;
}
.dark .product-block h3,
.dark .product-block p{
    color: white;
}



.product-icon{
    border-radius: 19px;
    background: #4D8DFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-icon-two{
    border-radius: 19px;
    background: #4D8DFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-icon-three{
    border-radius: 19px;
    background: #740A76;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-icon-four{
    border-radius: 19px;
    background: #F03E3D;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-general{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 60px;
}
.product-btn{
    color: white;
    border-radius: 4px;
    background:#02897A ;
    padding: 15px 32px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid #02897A ;

}
.product-btn:hover{
    border: 2px solid #02897A ;
    background: transparent;
    color: #02897A;
}

/*product end*/

/*manager start*/
#manager{
    padding: 100px 0;
}

.manager-text h4{
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}
.manager-text h1{
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
    padding-bottom:23px ;
}
.manager-text p{
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
    padding-bottom: 30px;
}
.dark .manager-text h1,
.dark .manager-text h4,
.dark .manager-text p{
    color: white;
}




.manager{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*manager end*/


/*customer start*/
#customer{
    padding: 100px 0;
}
.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-group h3{
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.customer-group h1{
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 0 23px 0;
}
.customer-group p{
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
    width: 486px;
}

.dark .customer-group h1,
.dark .customer-group h3,
.dark .customer-group p{
    color: white;
}




.icon-general{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.icon-one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    margin-right: 30px;
    font-size: 20px;
    border-radius: 19px;
    background: #FF9900;
}
.icon-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    margin-right: 30px;
    font-size: 20px;
    border-radius: 19px;
    background: #F03E3D;
}
.icon-three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    margin-right: 30px;
    font-size: 20px;
    border-radius: 19px;
    background: #4D8DFF;
}

.icon-general h6{
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 365px;
}

.dark .icon-general h6{
    color: white;
}
/*customer end*/

/*col start*/
#col{
    padding: 100px 0;
}

.col-text h3{
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
}

.col-text h1{
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 23px;
}

.col-text p{
    padding-bottom: 25px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}
.dark .col-text h1,
.dark .col-text h3,
.dark .col-text p{
    color: white;
}





.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*col end*/












